DoppleApi/DoppleApi/XsdSchemas/carrierXSDschema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="carrier">
		<xs:complexType>
			<xs:attribute name="tagId" type="xs:string" use="required"/>
			<xs:attribute name="orderId" type="xs:string" use="required"/>
			<xs:attribute name="stationId" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="statusCarrier" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

</xs:schema>
