DoppleApi/DoppleApi/XsdSchemas/instructionXSDschema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="instruction">
		<xs:complexType>
			<xs:attribute name="operatorId" type="xs:string" use="required"/>
			<xs:attribute name="username" type="xs:string" use="required"/>
			<xs:attribute name="password" type="xs:string" use="required"/>
			<xs:attribute name="authorization" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

</xs:schema>