DoppleApi/DoppleApi/XsdSchemas/operatorXSDschema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="operator">
		<xs:complexType>
			<xs:attribute name="operatorId" type="xs:string" use="required"/>
			<xs:attribute name="stationId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:pattern value="[0-9][0-9][0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

</xs:schema>