DoppleApi/DoppleApi/XsdSchemas/stationXSDschema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:element name="station">
	<xs:complexType>
		<xs:attribute name="stationId" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="statusStation" type="xs:string" use="required"/>
	</xs:complexType>
</xs:element>

</xs:schema>

