DoppleApi/DoppleApi/XsdSchemas/testXSDschema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="test">
		<xs:complexType>
			<xs:attribute name="testId" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="result" type="xs:string" use="required"/>
			<xs:attribute name="reason" type="xs:string" use="required"/>
			<xs:attribute name="operatorCompanyId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

</xs:schema>